<?xml version="1.0"?>
<!--
/** Bytes_Core module.xml
 * @category    BytesTechnolab
 * @package     Bytes_Core
 * @author      Bytes Magento Team
 * @copyright   Bytes Technolab (http://www.bytestechnolab.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Bytes_Core" setup_version="1.0.0">
    </module>
</config>