<?xml version="1.0"?>
<!--
/** Bytes_Core routes.xml
 * @category    BytesTechnolab
 * @package     Bytes_Core
 * @author      Bytes Magento Team
 * @copyright   Bytes Technolab (http://www.bytestechnolab.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bytestech" frontName="bytestech">
            <module name="Bytes_Core" />
        </route>
    </router>
</config>