<?xml version="1.0"?>
<config>
  <modules>
    <Bytes_Category>
      <version>1.0.1</version>
    </Bytes_Category>
  </modules>
  <global>
    <blocks>
        <bytescategory>
            <class>Bytes_Category_Block</class>
        </bytescategory>        
        <catalog>
            <rewrite>
                <product_list>Bytes_Category_Block_Catalog_Product_List</product_list>
            </rewrite>
        </catalog>
    </blocks>    
    <helpers>
        <bytescategory>
            <class>Bytes_Category_Helper</class>
        </bytescategory>
    </helpers>
    <models>
      <bytescategory>
        <class>Bytes_Category_Model</class>
      </bytescategory>
    </models>
    <resources>
      <bytescategory>
        <setup>
            <module>Bytes_Category</module>
            <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
        <connection>
            <use>core_setup</use>
        </connection>
      </bytescategory>
      <bytescategory_write>
          <connection>
              <use>core_write</use>
          </connection>
      </bytescategory_write>
      <bytescategory_read>
          <connection>
              <use>core_read</use>
          </connection>
      </bytescategory_read>
    </resources> 
    <events>
        <catalog_category_prepare_save>
             <observers>
                <bytescategory_observer>
                    <type>singleton</type>
                    <class>bytescategory/observer</class>
                    <method>saveCategoryObserve</method>
                </bytescategory_observer>
            </observers>
       </catalog_category_prepare_save>
    </events>
  </global>
</config> 